/*!
 * Equipe PPG Profile
 * Copyright 2017 Todos os Direitos Reservados
 */

/*CSS Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* GERAL */
html{
  color: #8492a6;
  font-family: 'Oswald', sans-serif;
}

section.main {
  min-height: 500px;
}

/* PPG PROFILE LOGIN*/
.bg-login{
  background: #090a37;
}

.bg-login h4{
  color: #FFF;
}

.bg-login label{
  color: #8492a6;
}

.title-login h4{
  font-weight: 400;
}

.button-login .btn-large{
  background-color: #9f0637;
  color: #fff;
  font-weight: bold;
  width: 100%;
  margin: 20px 0;
}

.formulario-login{
  width: 50%;
  margin: 0 auto;
}

label{
  color: #8492a6;
}

/* PPG PROFILE PAGINAS */

nav .brand-logo {
    font-size: 24px;
}

nav ul a.active {
    color: #FFF;
}

nav ul a {
    color: #8492a6;
}

nav ul a:hover {
    color: #FFF;
}

.formulario-cadastro{
  padding: 50px 0;
}

.input-field label {
  color: #8492a6;
}

a{
  color: #3c0014;
}

.ppgprofile h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}

h5{
  font-size: 16px;
  line-height: 1.4;
}

.logo-login{
  padding: 100px 0 20px 0;
}

.title-login{
  color: #3c0014;
}

.form-login{
  text-align: center;
}

.ppgprofile input{
  border-color: #8492a6;
}

.ppgprofile .input-field .prefix {
  position: relative;
  font-size: 18px;
  width: 0;
  margin-top: 0;
  margin-right: 2rem;
}

table a {
    color: #8492a6;
}

span.excluir{
  color: #9f0637;
}



.form{
  /*min-width: 500px;*/
  padding: 0 40px !important;
  display: -ms-flexbox;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: fixed;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    border: 1px solid #8492a6;
}

.bg-login{
  position: fixed;
}



.margin-bottom{
  margin-bottom: 0;
}

.form p {
  padding: 0 .75rem;
}

.button-login {
    padding: 0 .75rem;
}

/*Páginas Internas*/

.ppgprofile nav{
  background-color: #090a37;
}

.footer-copyright {
  padding: 20px 0;
  background-color: #090a37;
  color: #FFF;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
}

a.suggest{
  color: #ffc30f;
}

.profile{
  background: none;
  color: #FFF;
  font-size: 1rem;
}

.profile-dropdown{
  background: none;
  color: #3c0014;
  font-size: 16px;
}

i.right {
  margin-left: 0;
  color: #FFF;
}

.dropdown-ppgprofile{
  min-width: 230px;
  top: auto !important;
}

.dropdown-ppgprofile >li> a{
  color: #3c0014;
}

.space{
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.main{
  padding: 50px 0;
}

img.profile-avatar {
  max-width: 100px;
  margin: 20px 0 10px 0;
  border: 3px solid #ffc30f;
  border-radius: 50%;
}

.card-title-ppgprofile{
  padding: 0 24px 24px 24px;
}

i.fa.fa-ppgprofile {
  margin: 0 10px 0 0;
}

.tabs-ppgprofile .tab a{
  color: #9f0637;
}

.tabs-ppgprofile .tab a:hover {
  color: #090a37;
}

.tabs-ppgprofile .tab a.active {
  color: #9f0637;
}

.tabs-ppgprofile .indicator {
  background-color: #9f0637;
}

.tabs-ppgprofile-space{
  padding: 20px .75rem !important;
}

.tabs-ppgprofile{
  background:none;
}

.uk-placeholder {
    margin-bottom: 20px;
    padding: 30px 30px;
    background: 0 0;
    border: 1px dashed #e5e5e5;
    margin-top: 10px;
}

.uk-form-custom {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
}

.uk-form-custom input[type=file] {
    font-size: 500px;
    overflow: hidden;
}

.uk-form-custom input[type=file], .uk-form-custom select {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
}

span.uk-link{
  color: #ffc30f;
  font-weight: bold;
}

.content-tabs{
  padding-top: 20px;
}

.ppgprofile{
  color: #8492a6 !important;
}

.dropdown-content li>span {
  color: #090a37;
}

.formulario-cadastro{
  /* width: 50%; */
  margin: 0 auto;
}

.tamanho{
  width: 500px;
  margin: 0 auto;
}

.collapsible, .btn-large{
  box-shadow: none;
}

.formulario-cadastro input{
  border-bottom: 1px solid #ced4da !important;
}

.area-ingredients i{
  padding: 20px;
}

h5.area-ingredients {
    padding: 0 .75rem;
}

.area-ingredients a {
    color: #8492a6 !important;
}
