/* ========================================================================
   CSS by Carla Fagundes
   ========================================================================== */
   body{
    background-color: #F5F7FA;
  }

  html{
    background: #F5F7FA;
  }

  a{
    color: #fff;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-property: color,background-color,border-color,box-shadow;
    transition-property: color,background-color,border-color,box-shadow;
    position: relative;
    text-transform: none;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1.5px;
    font-size: 13px;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }

  .home{
    color: #262626 !important;
    font-family: "Open Sans";
    line-height: 28px;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  .tm-headerbar-top {
    /**  border-top: 1px solid #E5E5E5; **/
    padding-top: 30px;
    padding-bottom: 30px;
    background: #FFF;
  }

  .uk-navbar-container:not(.uk-navbar-transparent){
    background: #124073 !important;
  }

  .uk-navbar-nav>li>a{
    color: #fff;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-property: color,background-color,border-color,box-shadow;
    transition-property: color,background-color,border-color,box-shadow;
    position: relative;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1.5px;
    font-size: 13px;
  }

  .uk-icon-button{
    color: #262626;
    background: none;
    width: 15px;
    height: 15px;
  }

  .uk-navbar-toggle{
    color: #fff;
  }

  .uk-navbar-dropdown {
    display: none;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    width: 200px;
    padding: 40px;
    background: #FFF;
    color: #262626;
    top: 65px !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .uk-navbar-dropdown-nav>li>a{
    color: #262626;
  }

  .uk-section-secondary {
    background: #fff;
    border-top: 1px solid #f8f8f8;
  }

  .avatar img{
    position: relative;
    width: 30px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
  }

  .tm-header{
    box-shadow: 0 2px 2px 0 #e9e9e9;
  }

  .page-head {
    padding: 20px 25px 10px;
    position: relative;
  }

  .page-head-title {
    display: block;
    margin-bottom: 5px;
    margin-top: 6px;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 28px;
    color: #6b6b6b;
    line-height: 36px;
  }

  section.box {

  }

  section header {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border: 0px solid rgba(0,0,0,0.09);
    border-bottom: 0px solid transparent;
    vertical-align: top;
    position: relative;
  }

  section .content-body {
    background-color: #ffffff;
    border: 0px solid #e8e8e8;
    border-top: 0px;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
  }

  section header .title {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 30px;
    color: #676767;
    font-weight: 400;
    display: inline-block;
  }

  footer{
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: #676767;
    bottom:0;
    width:100%;
  }

  span.logo-interna{
    color: #fff;
    font-weight: bold;
  }

  .logout a{
    padding: 0 0 0 20px;
  }

  .logout.uk-icon{
    color: #fff;
  }

  .logo img{
    padding: 10px 0;
  }

  .cadastrar button{
    margin: 20px 0;
  }

  a.uk-align-right.senha {
    padding-top: 20px;
    color: #000;
    margin-bottom: 0 !important;
  }

  .required:after {
    content:" *"; 
    color: red;
  }

input:invalid + .aviso:after{
        position: absolute;
        content: "!";
        color: #f00;
        font: bold normal 1em sans-serif;
        left: 190px;
    }

  input:valid + .aviso:after{
        position: absolute;    
        content: "OK";
        color: #199a31;
        font: bold normal 1em sans-serif;
        left: 190px;
    }

  span.asterisco {
    color: red;
}

.requerido{
  padding: 0 0 20px 0;
}